body {
    padding: 0px;
    margin: 0px;
}

.hero {
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-image: url(../../images/headerBackground.jpg);
    background-repeat: no-repeat;
}