.partner {
    margin-top: 4vw;
    margin-bottom: 6vw;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 6vw;

    div {
        img{
            width: 150px;
            height: 150px;
            border-radius: 100%;
        }

    }
}

// for the holiday masonry
.masonry {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25rem 25rem 25rem;
    grid-gap: 2rem;
    max-width: 60rem;
    margin: 0 auto;
} 
